.repository-details {
    padding: 2rem 0;
    font-size: 2rem;

    &__info {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        @media (max-width: 992px) {
            flex-direction: column;
        }

        &__avatar {
            width: 100%;
            height: 100%;
        }

        & img {
            width: 35rem;
            height: 35rem;
            object-fit: contain;

            @media (max-width: 992px) {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__rating {
        color: #e3b341;
    }

    &__stack {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 1em;
    }
}