.pagination {
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    &__item {
        transition: all .3s;

        &:hover {
            transition: all .3s;
            background-color: #30363d;
        }

        &.current {
            background-color: #30363d;
        }
    }
}