.badge {
    display: inline-block;
    padding: 0 10px;
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    border-radius: 2em;
    line-height: 150%;
    color: #4493f8;
    background-color: #388bfd1a;
    border: 1px solid transparent;
}